---
layout: default
title: Blog
---

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
<script src="https://unpkg.com/packery@2.1/dist/packery.pkgd.min.js"></script>

  <script>
    $(document).ready(function(){
      var first_page_pckry = null
      imagesLoaded('.project-previews-first-page', function( instance ) {
        var elem = document.querySelector('.project-previews-first-page');
        first_page_pckry = new Packery( elem, {
          itemSelector: '.project-preview',
          gutter: 10
        });
      });

      imagesLoaded('.project-previews', function( instance ) {
        var elem = document.querySelector('.project-previews');
        delete first_page_pckry;
        var pckry = new Packery( elem, {
          itemSelector: '.project-preview',
          gutter: 10
        });
      });
    });
  </script>

<div class="project-previews">
  <div class="project-previews-first-page">
    {% for post in site.posts limit:20 %}
    <div class="project-preview">
      <a href="{{ post.url }}">
        <img src="/public/images/thumbnails/{{ post.logo }}"/>
        <div>
            {{post.title}}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% for post in site.posts offset:20 %}
  <div class="project-preview">
    <a href="{{ post.url }}">
      <img src="/public/images/thumbnails/{{ post.logo }}"/>
      <div>
          {{post.title}}
      </div>
    </a>
  </div>
  {% endfor %}
</div>
