<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">


      <a href="/">
      <img style="width: 196px; margin: auto;"
            src="/public/images/zemekvet_logo_topdown_white.svg"></img>
      </a>

    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">O nás</a>

      <a class="sidebar-nav-item{% if page.url == site.events.url %} active{% endif %}" href="{{ site.support.url }}">Podpora</a>

      <a class="sidebar-nav-item{% if page.url == site.events.url %} active{% endif %}" href="{{ site.projects.url }}">Projekty</a>
<!--
      <a class="sidebar-nav-item{% if page.url == site.blog.url %} active{% endif %}" href="{{ site.blog.url }}">Blog</a> -->

      <a class="sidebar-nav-item{% if page.url == site.logotypes.url %} active{% endif %}" href="{{ site.logotypes.url }}">Logotypy</a>

      <a class="sidebar-nav-item{% if page.url == site.blog.url %} active{% endif %}" href="{{ site.contact.url }}">Kontakt</a>

      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav> -->
<!--
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>

<div class="sidebar-stripe"></div>
