<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <a href="/">
      <img style="width: 196px; margin: auto;"
            src="/public/images/zemekvet_logo_topdown_white.svg"></img>
      </a>
    </div>

    <nav class="sidebar-nav">
      <a class="regular-font sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">o nás</a>

      <a class="rounded-font sidebar-nav-item{% if page.url == site.support_url.url %} active{% endif %}" href="{{ site.support_url.url }}">podpora</a>


      <a class="regular-font sidebar-nav-item{% if page.url == site.projects_url.url %} active{% endif %}" href="{{ site.projects_url.url }}">projekty</a>

      <a class="regular-font sidebar-nav-item{% if page.url == site.documents_url.url %} active{% endif %}" href="{{ site.documents_url.url }}">dokumenty</a>

      <a class="rounded-font sidebar-nav-item{% if page.url == site.logotypes_url.url %} active{% endif %}" href="{{ site.logotypes_url.url }}">logotypy</a>

      <a class="regular-font sidebar-nav-item{% if page.url == site.contact_url.url %} active{% endif %}" href="{{ site.contact_url.url }}">kontakt</a>

  </div>
</div>

<div class="sidebar-stripe"></div>
