<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">

<!--
<p> <strong>
  Přátelé, posledních několik měsíců byla pro nás práce v NF velmi náročná. Žádostí bylo opět mnohem více než v minulých obdobích. Jen pro představu za posledních 6 měsíců jsme rozdali zhruba stejné prostředky jako za předchozích měsíců 18. I vzhledem k tomu jsme se rozhodli přes léto výrazně omezit činnost NF. Děkujeme za pochopení.

  17. 6. 2025
</p> </strong>
-->


      {{ content }}
    </div>
  </body>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
      $(document).ready(function()
      {
        $(".contribution-amount").each(function() {
          txt = $(this).text();
          $(this).text(txt.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
        });
      });
    </script>
    
</html>
