<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">



<!--
<p> <strong>
  Vážení přátelé,  
  <p>
    během podzimu a zimy jsme vyřídili velké množství žádostí a rozdali značnou část nadačního jmění. S přicházejícím jarem jsme se rozhodli činnost NF pozastavit. Nově příchozí žádosti budeme zpracovávat opět až po 20. 9. 2026. Již přijaté, ale doposud nezpracované žádosti během jara zpracujeme. Děkujeme za pochopení.
  </p>

  10. 4. 2026
</p> </strong>-->




      {{ content }}
    </div>
  </body>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
      $(document).ready(function()
      {
        $(".contribution-amount").each(function() {
          txt = $(this).text();
          $(this).text(txt.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
        });
      });
    </script>
    
</html>
