---
layout: default
---

<div class="post">
  {% if page.url %}
    <h1 class="post-title">
    <a class="green-link" href="{{page.project_url}}">
      {{ page.title }}
      <span style="font-size: 14px;"> www </span>
    </a>
    </h1>
  {% else %}
    <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}

  <img class="project-logo" src="{{page.logo}}"/>
  {{ content }}

<div> Příspěvky
  <ul>
{% for contribution in page.contributions %}
  <li>
    <span>{{ contribution.date | date_to_string }}
      <span class="brown-text-color"> {{ contribution.amount }} {{ contribution.currency }} </span>
      <span class="green-text-color"> {{ contribution.description }}
      </span>
    </span>
  </li>
{% else %}
  <li>
    <span>{{ page.date | date_to_string }}
      <span class="brown-text-color"> {{ page.amount }} {{ page.currency }} </span>
      <span class="green-text-color"> {{ page.description }}
      </span>
    </span>
  </li>
{% endfor %}
  </ul>
</div>

</div>

</div>
