---
layout: default
---

<div class="post">
  {% if page.project_url %}
    <h1 class="post-title">
    <a class="green-link" href="{{page.project_url}}">
      {{ page.title }}
      <span style="font-size: 14px;"> www </span>
    </a>
    </h1>
  {% else %}
    <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}
  <img class="project-logo" src="{{site.base_url}}/public/images/photos/{{page.logo}}"/>
  {{ content }}

<div> Příspěvky
  <ul>
{% for contribution in page.contributions %}
  <li>
    <div>{{ contribution.date | date: "%d.%m.%Y" }}:
      <span class="brown-text-color contribution-amount"> {{ contribution.amount }}
      </span>
      <span class="brown-text-color"> {{ contribution.currency }} </span>
    </div>
      <span class="green-text-color"> {{ contribution.description }}
      </span>
  </li>
{% else %}
  <li>
    <div>{{ page.date | date: "%d.%m.%Y" }}:
      <span class="brown-text-color contribution-amount">{{ page.amount }}
      </span>
      <span class="brown-text-color"> {{ page.currency }} </span>
    </div>
      <span class="green-text-color"> {{ page.description }}
      </span>
  </li>
{% endfor %}
  </ul>
</div>

</div>

</div>
